<div class="profile_edit container">
  <!-- routes自己作成の場合、updateのpathをeditと別にしないと送信されない -->
  <%= form_for @user, url: profile_update_path, method: :patch do |f| %>
    <div class="field">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, placeholder: "名前を入力して下さい。" %>
    </div>
    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email, placeholder: "メールアドレスを入力して下さい。" %>
    </div>
    <div class="field">
      <%= f.label :comment, "コメント" %>
      <%= f.text_field :comment, placeholder: "自己紹介など" %>
    </div>
    <div class="field">
      <label>プロフィール画像</label>
      <div class="file_wrap">
        <%= f.file_field :image %>
      </div>
    </div>
    <div class="button_wrap">
      <input type="submit" value="保存する" class="button">
    </div>
  <% end %>
</div>