// サインイン後のbody
body.logined {
  background-color: #fafafa;
  padding-top: 100px;
}
 
// ヘッダー部分
.global_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content:space-between;
  padding: 0 30px;
  z-index: 100;
  opacity: 0.95;
  >* {
    line-height: 80px;
    cursor: pointer;
  }
  .icon {
    width: 80px;
    i {
      font-size: 30px;
      color: #777;
      line-height: 80px;
    }
  }
  a {
    text-decoration: none;
  }
  .logo {
    width: 200px;
    font-size: 32px;
    text-align: left;
    margin-bottom: 20px;
    font-family: cursive;
    color: #777;
  }
  .search {
    width: 310px;
    min-width: 125px;
    input[type="text"] {
      border: solid 1px #dbdbdb;
      border-radius: 3px;
      color: #262626;
      font-size: 14px;
      outline: none;
      padding: 3px 10px 3px 10px;
      background-color: #eee;
      height: 30px;
      display: inline-block;
      width: 100%;
    }
  }
  .menu {
    flex: 5;
    display: flex;
    justify-content:flex-end;
    padding-top: 5px;
    margin: 0;
    a {
      display: block;
      padding: 0 20px;
    }
    i {
      font-size: 28px;
      color: #ccc;
      &:hover {
        color: #bbb;
      }
    }
  }
}
 
// コンテナ
.container {
  width: 960px;
  margin: 0 auto;
}



// アラート
.alert {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  text-align: center;
  z-index: 1000;
  line-height: 40px;
  &-success, &-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  &-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  &-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}