// トップページ
.top {
  min-height: 1000px;
  margin-top: 30px;
 
  // 投稿画像部分
  .posts {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    >li {
      background-color: white;
      border: 1px solid darken(#eee, 5%);
      margin-bottom: 50px;
    }
    .user {
      padding: 16px;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50px;
      a {
        color: gray;
        text-decoration: none;
        display: block;
      }
      p {
        display: inline-block;
      }
      .image {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .image_wrap {
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .info {
      padding: 0 16px;
    }
    .action {
      margin-top: 10px;
      margin-bottom: 15px;
      i {
        font-size: 22px;
        margin-right: 10px;
        cursor: pointer;
        &.active {
          color: #F94653;
        }
      }
      a, label {
        text-decoration: none;
        color: #2A2A2A;
      }
    }
    .like {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .comment {
      margin-top: 20px;
      margin-bottom: 10px;
      li {
        margin-bottom: 10px;
      }
      .user_name {
        font-weight: bold;
      }
      .text_wrap {
        margin-top: 10px;
        border-top: 1px solid #eee;
        padding-top: 15px;
        padding-right: 30px;
        .field {
          position: relative;
        }
        input[type="text"] {
          border: 1px solid #eee;
          width: 100%;
          height: 30px;
          font-size: 14px;
          outline: 0;
        }
        input[type="submit"] {
          position: absolute;
          right: -5px;
          border: 1px solid #eee;
          cursor: pointer;
          top: 0;
          bottom: 0;
          width: 35px;
          background-color: white;
        }
      }
    }
  }
  // おすすめ部分
  .recommend {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    h2 {
      font-size: 16px;
      font-weight: bold;
    }
    ul {
      padding: 10px;
      display: flex;
      li {
        flex: 1;
        max-width: 33.33%;
        margin: 10px;
        padding: 10px;
        a {
          text-align: center;
          display: block;
          padding: 20px;
          border: 1px solid darken(#eee, 3%);
          color: inherit;
          text-decoration: none;
        }
        img {
          max-width: 100%;
          border-radius: 50%;
          width: 80px;
          margin-bottom: 20px;
        }
        .button {
          background-color: #eee;
          text-decoration: none;
          color: inherit;
          padding: 8px 12px;
          border: 1px solid darken(#eee, 5%);
          &:hover {
            background-color: darken(#eee, 2%);
          }
        }
      }
    }
  }
}



// プロフィールページ
.user {
  h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  // プロフィール部分
  .profile {
    padding-top: 60px;
    padding: 60px 40px 40px;
    display: flex;
    .image {
      width: 200px;
      margin-right: 50px;
      >div {
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }
    }
  }
  // 情報部分
  .info {
    flex: 1;
    .status {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      p {
        flex: 1;
      }
      a{
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .name {
      display: flex;
      .actions {
        a {
          color: darken(gray, 10%);
          border: 1px solid #eee;
          padding: 8px 12px;
          display: inline-block;
          text-decoration: none;
          border-radius: 3px;
          margin-top: 5px;
        }
      }
    }
    h1 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 200;
      margin-right: 30px;
    }
  }
  // 投稿画像部分
  .posts {
    margin-top: 50px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: calc(33.33% - 20px);
        position: relative;
        margin: 20px 10px;
        background-color: white;
        &:before{
          display: block;
          content: '';
          padding-top: 100%;
        }
        div{
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}


// プロフィール編集部分
.profile_edit {
  background-color: white;
  form {
    padding: 20px;
    label {
      display: inline-block;
      width: 150px;
    }
    input[type="text"] {
      width: 500px;
      height: 30px;
      font-size: 15px;
      padding: 8px;
    }
    textarea {
      width: 500px;
      height: 30px;
      padding: 8px;
      border: 1px solid #ccc;
    }
  }
  .field {
    margin-bottom: 15px;
  }
  .button_wrap {
    text-align: center;
  }
  .button {
    background-color: #0097EF;
    color: white;
    border: 1px solid darken(#0097EF, 3%);
    border-radius: 3px;
    font-size: 13px;
    padding: 8px 12px;
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

// フォロワー部分
.users {
  background-color: white;
  li {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 15px;
    padding-left: 50px;
    &:last-child {
      border-bottom: 0;
    }
    .name {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .button {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #0097EF;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 8px 12px;
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

// ユーザー登録・サインイン部分
.sign_up, .sign_in {
  background: image-url("water.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .contents {
    position: absolute;
    top: 20%;
    left: 55%;
    height: 600px;
    width: 400px;
  }
  h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-family: cursive;
  }
  p {
    font-size: 16px;
  }
  form {
    margin-top: 15px;
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      display: block;
      height: 36px;
      box-sizing: border-box;
      font-size: 16px;
      border: 0;
      padding: 3px 10px;
    }
    .field {
      margin-bottom: 8px;
      border-radius: 3px;
      border: 1px solid #eee;
    }
    button {
      background-color: #ccc;
      display: block;
      color: white;
      border: 1px solid darken(#ccc, 5%);
      border-radius: 3px;
      width: 100%;
      margin-top: 15px;
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        background-color: darken(#ccc, 3%);
      }
    }
  }
  .sign_up_form, .sign_in_form {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  .sign_in_link, .sign_up_link {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    text-align: center;
  }
}